/* Nav Bar Css */

.human-nav-right {
  margin-left: 74%;
}

.human-footer {
  color: white;
  padding: 12px;
}

.human-index-main {
  margin-bottom: 18.05%;
  margin-top: 16%;
}

/* Features.html Css */

.human-features-main {
  margin: 3.5%;
}

.human-features-container {
  margin-top: 4.2%;
}

.human-features-suggestion {
  min-height: 342px;
}

.human-features-form {
  margin-right: 25%;
}

.padding-lead{
  padding-top:15px;
  padding-left:600px;
  padding-right:600px;
  padding-bottom:15px;
}

.form1 {
  margin-left: 3.5%;
}

#left{
  padding-left: -8px;
  padding-right: -115px;;
}

.one {
  max-width: 1500px;
}

.spinload{
  width: 30px;
}

.human-hidden {
  display: none;
}